.card {
  width: 800px;
  margin: 50px  auto;
}

.card__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 50px;
  background: -webkit-linear-gradient(0deg, rgba(223,45,69,1) 0%, rgba(255,232,90,1) 50%, rgba(0,164,184,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__description {
  color:#239BF4 ;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 27px;
  font-size: 20px;
}

.card__box {
    width: 150px;
    height: 80px;
    background-color: #FD4242;
    margin: 100px auto;
}
